.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 38px;
    padding: 38px 108px;

    & > div {
        line-height: 142.6%;
        font-size: var(--text-size-base);
        font-weight: 400;
    }
}
