.section {
    margin-top: 24px;
    width: 100%;
    @media (max-width: 720px) {
        margin-top: 15px;
    }
}

.mainInfos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 720px) {
        flex-direction: column;
        gap: 16px;
    }
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 76px;
    margin-top: 24px;
    @media (max-width: 720px) {
        flex-direction: column;
        margin-top: 13px;
        gap: 20px;
    }
}

.description,
.equipmentList li {
    line-height: 142.6%;
    font-size: var(--text-size-base);
    font-weight: 400;
}
