.section {
    margin-top: 24px;
    width: 100%;
}

.mainInfos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > div {
        display: flex;
        flex-direction: column;
    }
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
