@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

:root {
    --color-primary: #ff6060;
    --color-lightgray: #f6f6f6;
}

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
}

body {
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.link-default {
    font-size: 24px;
}

.underlined {
    text-decoration: underline;
}
