@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

:root {
    --color-primary: #ff6060;
    --color-lightgray: #f6f6f6;
    --text-size-small: 14px;
    --text-size-base: 18px;
    --text-size-large: 24px;
    --text-size-xl: 36px;
    --text-size-xxl: 48px;
    --text-size-giant: 288px;
    @media (max-width: 720px) {
        --text-size-small: 10px;
        --text-size-base: 13px;
        --text-size-large: 12px;
        --text-size-xl: 18px;
        --text-size-xxl: 24px;
        --text-size-giant: 96px;
    }
}

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
}

body {
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.link-default {
    font-size: var(--text-size-large);
}

.underlined {
    text-decoration: underline;
}
