@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

:root {
    --color-primary: #ff6060;
    --color-lightgray: #f6f6f6;
    --color-gray: #e3e3e3;
}

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: black;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.link-default {
    font-size: 24px;
}

.underlined {
    text-decoration: underline;
}
