.footer {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 50px;
    padding-top: 66px;
    padding-bottom: 29px;
}

.copyrights {
    color: white;
}
