.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 89px;
}

.code {
    color: var(--color-primary);
    font-size: var(--text-size-giant);
    font-weight: 700;
    margin-bottom: 139px;
    @media (max-width: 720px) {
        margin-bottom: 113px;
    }
}

.message {
    color: var(--color-primary);
    font-size: var(--text-size-xl);
    margin-bottom: 139px;
    text-align: center;
    @media (max-width: 720px) {
        margin-bottom: 113px;
    }
}

.goHome {
    color: black;
    font-size: var(--text-size-base);
    text-decoration-line: underline;
    margin-bottom: 89px;
}
